$primary-color: #8D0B41;
$bg-color: #FFF8E6;
$header-color: #D6CFB4;
$blue-1: #007bff;

* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: $bg-color;
}

.titulo {
    padding: 25px;
    color: $primary-color;
}
