$primary-color: #8D0B41;
$secundary-color: #b62762;
$bg-color: #faefd2;
$bg-prod: white;
$blue-1: #007bff;

* {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Times, serif, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: $bg-color;
}

.area_destaque {

    width: 100%;
    height: 80px;
    background-color: $secundary-color;
    display: flex;
    color: $bg-prod;
    align-items: center;
    justify-content: center;

    .destaque_txt{
        font-size: 25px;
        font-weight: bold;
        
    }
}

.produtos_itens {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: $bg-prod;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 450px;
    margin: 16px;
    transition: 0.2s;

    &:hover {
        height: 100%;

        .desc_prod2 {
            color: $secundary-color;
            pointer-events: auto;
            display: block;
        }

        .img_prod {
            transform: scale(0.95);
        }
    }

    .titulo_prod {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 12px;
        color: $secundary-color;
    }

    .prod_image-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
    }

    .img_prod {
        max-width: 100%;
        height: auto;
        transition: 0.4s;
    }

    .desc_prod2 {
        color: $primary-color;
        font-size: large;
        color: transparent;
        transition: 0.3s;
        text-align: center;
        padding: 10px;
        pointer-events: none;
        position: static;
    }

    .desc_prod1 {
        color: $primary-color;
        font-size: large;
        color: $primary-color;
        text-decoration: underline;
    }

}

@media (max-width: 1300px) {
    .area_destaque {
        width: 100%;
        height: 50px;
        background-color: $primary-color;
        color: $bg-color;
        display: flex;
        align-items: center;
        justify-content: center;


        .sub_txt {
            font-size: 20px;
            font-weight: bold;
        }
    }
}