.carrossel {
    text-align: center;
    position: relative;
    width: 850px;
    margin: auto;
    transition: 0.4s;
}

.img_carrossel {
    width: 100%;
    height: 425px;
    object-fit: cover;
    transition: 0.4s;
}


@media (max-width: 1100px) {
    .carrossel {
        width: 700px;
    }
    .img_carrossel {
        height: 350px;
    }
}

@media (max-width: 740px) {
    .carrossel {
        width: 500px;
    }
    .img_carrossel {
        height: 250px;
    }
}


@media (max-width: 530px) {
    .carrossel {
        width: 340px;
    }
    .img_carrossel {
        height: 170px;
    }
}
